#patient-details {
    background: #E5E5E5 !important;
}
#patient-details .container-fluid {
    padding: 0px 27px 25px 27px;
    margin: 0px auto;
    margin-top: 77px;
    text-align: left;
}
.title-1 {
    color: #7F43D0;
    font-size: 37px;
    margin-top: 20px;
}
.patient-info {
    font-size: 27px;
    line-height: 32px;
    color: #52317E;
    padding-right: 15px;
}
.patient-history {
    font-size: 23px;
    color: #52317E;
    display: flex;
    filter: drop-shadow(0px 9px 20px rgba(0, 0, 0, 0.38));
    background-color: white;
    padding: 19px 25px 35px 23px;
    margin-top: 10px;
    border-radius: 13px;
}
.sub-header {
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin-top: 15px;
}
.patient-history span {
    font-size: 20px;
    color: black;
    position: relative;
    left: 15px;
}
.vitals span, .probable-conditions span, .conditions span {
    display: block;
}
.sub-header:nth-child(5) {
    margin-top: 95px !important;
}
.vitals {
    margin-bottom: 10px;
}
.probable-conditions {
    color: black;
    margin-bottom: 30px;
}
.probable-conditions li {
    list-style-type: none;
    position: relative;
}
.probable-conditions li::before {
    content:'.';
    font-size: 36px;
    position: absolute;
    top: -22px;
    left: -15px;
}
.flex-column:first-child {
    width: 55%;
}
.flex-column:last-child {
    width: 45%;
}
.vitals, #note, .probable-conditions {
    margin-top: 20px !important;
}
#note {
    border: 2px solid #707070;
    font-size: 20px;
}

.record {
    margin-top: 54px;
}
.record .header {
    color: #7F43D0;
    font-size: 37px;
}
.record .sub-header {
    margin: 0px !important;
    color: #52317E;
    font-size: 23px;
}
.record-box {
    display: flex;
    margin-top: 14px;
    filter: drop-shadow(0px 9px 20px rgba(0, 0, 0, 0.38));
    background: white;
    padding: 0px 0px 25px 12px;
    height: 324px;
    align-items: center;
    border-radius: 13px;
}

.record-box .flex-column{
    text-align: center;
}
.record-box .flex-column:first-child {
    width: 45%;
}
.record-box .flex-column:last-child {
    width: 55%;
}
.record-box .flex-column .flex-row {
    justify-content: space-evenly;
    margin-top: 19px;
}
.record-box .flex-column .flex-row img {
    cursor: pointer;
}
#mic {
    margin-top: 67px;
    cursor: pointer;
    width: 150px;
}
#bars {
    height: 57px;
    left: 44%;
    margin: -30px 0 0 -20px;
    position: absolute;
    top: 50%;
    width: 150px;
}

#bars2 {
    height: 57px;
    left: 51%;
    margin: -30px 0 0 -20px;
    position: absolute;
    top: 50%;
    width: 150px;
}

.bar {
   background: #eb673a;
    bottom: 1px;
    height: 3px;
    position: absolute;
    width: 8px;      
    animation: sound 0ms -800ms linear infinite alternate;
}

.bar2 {
    background: #f1963f;
     bottom: 1px;
     height: 0px;
     position: absolute;
     left: 5px;
     width: 10px;      
 }

 .playing {
    animation: sound 0ms -800ms linear infinite alternate;
 }

@keyframes sound {
    0% {
       opacity: .35;
       height: 50px; 
    }
    100% {
        opacity: 1;       
        height: 28px;        
    }
}

#bars3, #bars4 {
    transform: rotate(160deg);
}

.bar:nth-child(1)  { left: 0px; animation-duration: 874ms; }
.bar:nth-child(2)  { left: 8px; animation-duration: 733ms; }
.bar:nth-child(3)  { left: 16px; animation-duration: 807ms; }
.bar:nth-child(4)  { left: 24px; animation-duration: 858ms; }
.bar:nth-child(5)  { left: 32px; animation-duration: 700ms; }
.bar:nth-child(6)  { left: 40px; animation-duration: 827ms; }
.bar:nth-child(7)  { left: 48px; animation-duration: 741ms; }
.bar:nth-child(8)  { left: 56px; animation-duration: 819ms; }
.bar:nth-child(9)  { left: 64px; animation-duration: 787ms; }
.bar:nth-child(10) { left: 72px; animation-duration: 842ms; }​

.bar2:nth-child(1)  { left: 4px; animation-duration: 874ms; }
.bar2:nth-child(2)  { left: 10px; animation-duration: 733ms; }
.bar2:nth-child(3)  { left: 20px; animation-duration: 807ms; }
.bar2:nth-child(4)  { left: 25px; animation-duration: 858ms; }
.bar2:nth-child(5)  { left: 35px; animation-duration: 700ms; }
.bar2:nth-child(6)  { left: 41px; animation-duration: 827ms; }
.bar2:nth-child(7)  { left: 47px; animation-duration: 741ms; }
.bar2:nth-child(8)  { left: 56px; animation-duration: 819ms; }
.bar2:nth-child(9)  { left: 66px; animation-duration: 787ms; }
.bar2:nth-child(10) { left: 72px; animation-duration: 842ms; }​

#scribebrain-record {
    margin-top: 40px;
}
.scribebrain-footer {
    background-color: #52317E;
    font-size: 25px;
    width: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 62px;
    border-radius: 8px;
    position: relative;
    bottom: -27px;
    cursor: pointer;
    margin: 0 auto;
}
.scribebrain-footer a {
    color: #B3E06C !important;
}

@media only screen and (max-width: 1100px) {
    #bars {
        left: 43%;
    }
   }

@media only screen and (max-width: 1075px) {
    #bars {
        left: 41.5%;
    }
   }

@media only screen and (max-width: 890px) {
    #bars {
        left: 42%;
    }
    #bars2 {
        left: 50%;
    }
   }

@media only screen and (max-width: 730px) {
    #bars {
        left: 39%;
    }
    #bars2 {
        left: 50%;
    }
   }

@media only screen and (max-width: 650px) {
   .record-box .flex-row img{
       width: 70px !important;
   }
  }

@media only screen and (max-width: 650px) {
    .record-box .flex-row img{
        width: 50px !important;
    }
   }

@media only screen and (max-width: 600px) {
    #bars {
        left: 37%;
    }
   }

@media only screen and (max-width: 467px) {
    .patient-history .flex-column:last-child {
        margin-left: 20px;
    }
    .record-box {
        flex-wrap: wrap;
        height: auto;
        flex-direction: column-reverse;
    }
    .record-box .flex-row img{
        width: 80px !important;
    }
    .record-box .flex-column:first-child {
        width: 100% !important;
    }
    .record-box .flex-column:last-child {
        width: 100% !important;
    }
    #bars {
        left: 39%;
    }
    #bars2 {
        left: 50%;
    }
   }